<div id="content">
    <header>
    <!-- navbar -->
      <nav>
        <ul class="nav nav-pills custom">
          <li>
            <a href="http://www.zingchart.com/">Zing Charts</a>
          </li>

          <li>
            <a href="https://developer.riotgames.com/">Riot API</a>
          </li>

          <li>
            <a href="https://github.com/hdavis0090">My Github</a>
          </li>
           <li>
            <a href="https://github.com/hdavis0090/zingchart-app-rails">Source</a>
          </li>
        </ul>
      </nav>

	<!-- freljord image splash -->
    <div class="wide"></div>
    
    </header>

	<!--directions for user -->
    <div class="one">
      This is a tool for checking how much damage a player has done in their last five games of League of Legends. Input your summoner name below to generate a damage chart.
    </div>

	<!-- inputs -->
    <div class="textbox dropdown">
      <input id="summonerIn" type="text"> 
      <button type="button" id="buttony" class="btn btn-default" aria-label="Left Align">Submit</button>
	  <div class="drop">
	    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	  	  Dropdown
		  <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu dropdown-menu-right" id="challengerDropdown" role="menu" aria-labelledby="dropdownMenu1">
		  <li id="chal1"><a role="menuitem" tabindex="-1" href="#">Harley</a></li>
		  <li id="chal2"><a role="menuitem" tabindex="-1" href="#">BumblingBear</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Silent Sheep</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dyrus</a></li>
	    </ul>
	  </div>
    </div>
    <!--errors-->
		<div class="alert alert-danger" id="alert" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  Enter a valid Summoner ID
		</div>
	
	<!-- returned information display area -->
    <div class="chartContainer">
      <span>Your chart will load here</span>
      <div id="damageChartDiv"></div>
    </div>
    <div class="infoContainer">
		<span></span>
    </div>
</div>
