<header>
	 <nav>
			<ul class="nav nav-pills">
				<a class="navbar-brand" href="#">Damage Checker</a>
				<li><a href="http://www.zingchart.com/">Zingcharts</a></li>
				<li><a href="https://developer.riotgames.com/">Riot API</a></li>
				<li><a href="https://github.com/hdavis0090">My Github</a></li>
			</ul>
  </nav>

<div class="wide">
</div>

</header>

	<div class="one">
	Input your summoner name into the box to see how much damage you dealt your last five games.
	</div>
	<div class="textbox">
	<input id="summonerIn" type="text">
	<input id="buttony"type="submit" value="submit">
	<span></span>
	</div>

<div class="chartContainer">
	<div id="damageChartDiv"></div>
</div>

<div id="footer">footnotes text</div>
