<header>
	<!-- navbar -->
	<nav>
		<ul class="nav nav-pills custom">
			<li>
				<a href="http://www.zingchart.com/">Zing Charts</a>
			</li>

			<li>
				<a href="https://developer.riotgames.com/">Riot API</a>
			</li>

			<li>
				<a href="https://github.com/hdavis0090">My Github</a>
			</li>

			<li>
				<a href="https://github.com/hdavis0090/zingchart-app-rails">Source</a>
			</li>
		</ul>
	</nav>
	
	<!-- freljord image splash -->
	<div class="wide"></div>
</header>

<!--directions for user -->
<div class="one">
	This is a tool for checking how much damage a player has done in their recent games of
	League of Legends. Input your summoner name below to generate a damage chart.
</div>

<div id="content">
	<!-- inputs -->
	<div class="textbox dropdown">
		<input id="summonerIn" type="text"> <button class="btn btn-info" data-loading-text=
		"Loading..." id="buttony" type="button">Submit</button>

		<div class="drop">
			<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id=
			"dropdownMenu1" type="button">Summoner IDs <span class="caret"></span></button>

			<ul class="dropdown-menu dropdown-menu-right" id="challengerDropdown">
				<li>
					<a>Pobelter</a>
				</li>

				<li>
					<a>Doublelift</a>
				</li>

				<li>
					<a>Wildturtle</a>
				</li>

				<li>
					<a>C9 Meteos</a>
				</li>

				<li>
					<a>Link</a>
				</li>
			</ul>
		</div>
	</div>
	<!--errors-->
	<div class="alert alert-danger" id="alert">
		<span class="glyphicon glyphicon-exclamation-sign"></span> <span class=
		"sr-only">Error:</span> Enter a valid Summoner ID
	</div>
	
	<!-- returned information display area -->

	<div class="chartContainer">
		  <ul class="nav nav-tabs" role="tablist" id="navTabs">
			<li class="active"><a href="#home" role="tab" data-toggle="tab">Summary</a></li>
			<li><a href="#game1" role="tab" data-toggle="tab">Game 1</a></li>
			<li><a href="#game2" role="tab" data-toggle="tab">Game 2</a></li>
			<li><a href="#game3" role="tab" data-toggle="tab">Game 3</a></li>
			<li><a href="#game4" role="tab" data-toggle="tab">Game 4</a></li>
			<li><a href="#game5" role="tab" data-toggle="tab">Game 5</a></li>
		  </ul>
		  
		<span>Your chart will load here</span>
		<div class="tab-content"  id="matchTabs">
			<div role="tabpanel" class="tab-pane active" id="home">
				<div id="damageChartDiv"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="game1">
				<div id="detailsChart1"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="game2">
				<div id="detailsChart2"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="game3">
				<div id="detailsChart3"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="game4">
				<div id="detailsChart4"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="game5">
				<div id="detailsChart5"></div>
			</div>
		</div>
	</div>

	<div class="infoContainer">
		<span></span>
		<div class ="matchDetails">
			
		</div>
	</div>
</div>
