<div id="content">
<header>
	 <nav>
			<ul class="nav nav-pills custom">
				<li><a href='#'>Damage Chart</a></li>
				<li><a href="http://www.zingchart.com/">Zingcharts</a></li>
				<li><a href="https://developer.riotgames.com/">Riot API</a></li>
				<li><a href="https://github.com/hdavis0090">My Github</a></li>
			</ul>
  </nav>

<div class="wide">
</div>

</header>

	<div class="one">
	This is a tool for checking how much damage a player has done in their last five games of League of Legends.  Input your summoner name below to generate a damage chart.
	</div>
	<div class="textbox">
	<input id="summonerIn" type="text">
	<input id="buttony"type="submit" value="submit">
	<span style="color:#fff"></span>
	</div>

<div class="chartContainer"> <span>Your chart will load here</span>
	<div id="damageChartDiv"></div>
</div>

<div>
<div id="footer">footnotes text</div>
