  <div id="content">
    <header>
      <nav>
        <ul class="nav nav-pills custom">
          <li>
            <a href="http://www.zingchart.com/">Zing Charts</a>
          </li>

          <li>
            <a href="https://developer.riotgames.com/">Riot API</a>
          </li>

          <li>
            <a href="https://github.com/hdavis0090">My Github</a>
          </li>
           <li>
            <a href="https://github.com/hdavis0090/zingchart-app-rails">Source</a>
          </li>
        </ul>
      </nav>

      <div class="wide"></div>
    </header>

    <div class="one">
      This is a tool for checking how much damage a player has done in their last five games of League of Legends. Input your summoner name below to generate a damage chart.
    </div>

    <div class="textbox">
      <input id="summonerIn" type="text"> 
      <button type="button" id="buttony" class="btn btn-default" aria-label="Left Align">Submit</button>
      
    </div>
		<div class="alert alert-danger" id="alert" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  Enter a valid Summoner ID
	</div>
    <div class="chartContainer">
      <span>Your chart will load here</span>
      <div id="damageChartDiv"></div>
    </div>
    <div class="infoContainer">
		<span></span>
    </div>
    </div>
